*{
	box-sizing: border-box;
	font-size: 17px; 
    background-color: black;
}
#menu {
    text-align: center;
    padding: 10px 0;
}
#menu a {
    font-size: 21px;
    text-decoration: none;
    color: white;
    padding: 10px 89px;
}
#menu a:hover {
    background: #000;
    color: #FFF; 
}
#logo {
	margin: 5px;
	padding: 10px 390px;
}
h2 {
	text-align: center;
	font-size:60px;
    color: white;
} 
iframe {
    margin-left: 475px;
}
hr {
   width: 58% ;
   color: black;
}